# runOn = { push = true, manual = false, schedule = false }
# notify = { slack = "webhookUrl" }

pipeline = [
    "install",
    "test",
    "lint",
    "finalize",
    "release"
]

[steps]
[steps.install]
agentImage = "docker.io/alpine:3.23"
cmd = "sh ./ci/build/install.sh"

[steps.test]
agentImage = "docker.io/alpine:3.23"
cmd = "sh ./ci/build/test.sh"

[steps.lint]
agentImage = "docker.io/alpine:3.23"
cmd = "sh ./ci/build/lint.sh"

[steps.finalize]
agentImage = "docker.io/alpine:3.23"
cmd = "sh ./ci/build/finalize.sh"

[steps.release]
agentImage = "docker.io/alpine:3.23"
whenBranch = "main"
cmd = "sh ./ci/build/release.sh"
