runOn = { push = true, manual = false, schedule = false }

pipeline = [
    "install",
    [
        "test",
        "lint"
    ],
    "finalize",
    "release"
]

[steps]
[steps.install]
agentImage = "todo-docker"
cmd = "bash ./ci/build/install.sh"

[steps.test]
agentImage = "todo-docker"
cmd = [
    "bash ./ci/build/test.sh"
]

[steps.lint]
agentImage = "todo-docker"
cmd = [
    "bash ./ci/build/lint.sh"
]

[steps.finalize]
agentImage = "todo-docker"
cmd = [
    "bash ./ci/build/finalize.sh"
]


[steps.release]
agentImage = "todo-docker"
whenBranch = "main"
cmd = [
    "bash ./ci/build/release.sh"
]
